/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2016, 8:10:58 PM
    Author     : zslotyi
*/

.button{
    -fx-background:#333333;
}
.boardsize {
    -fx-min-height:300px;
    -fx-max-height:300px;
    -fx-preferred-height:300px;
    -fx-background:#CAFF11;
}